@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

.subtitle {
  font-family: 'Fixedsys', serif;
  font-size: 2rem;
  display: block;
  margin-top: 0.5em;
  color: #a73079;
  text-shadow: 1px 1px 2px #000;
}

body {
  font-family: 'Cinzel Decorative', cursive;
  background: url('https://i.imgur.com/J4Ex761.png') no-repeat center center fixed;
  background-size: cover;
  color: #f85abb;
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px #26201b;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

textarea {
  width: 90%;
  height: 150px;
  margin-top: 8rem;
  font-family: monospace;
}

#namesList {
  font-size: 1.2rem;
  margin-top: 6rem;
  color: #549dcc;
  text-shadow: 2px 2px #346280;
}
